/*-----------------------------------------------------------------------*\
						$FOOTER
\*-----------------------------------------------------------------------*/

.footer-distributed{
  background-color: #FFFFFF;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  text-align: left;

  padding: 25px 60px 10px;
  margin-top: 0;
  overflow: hidden;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.39);
  z-index: 999;
}

/* Footer left */

.footer-distributed .footer-left{
  float: left;
}

/* The company logo */

footer img {
  width: 45%;
}

.footer-distributed h3{
  color: #8c8c8c;
  font: normal 36px 'Cookie', cursive;
  margin: 0 0 10px;
}

.footer-distributed h3 span{
  color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #8c8c8c;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  margin-left: 70px;
}

/* Footer social icons */

.footer-distributed .footer-icons{
  margin-top: 65px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;

  font-size: 20px;
  color: #8c8c8c;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

footer .fa {
  font-size: 25px;
  padding: 10px;
}


/* Footer Right */

.footer-right {
  position: sticky;
  top: 30%;
}

.footer-distributed .footer-right{
  float: right;
}

.footer-distributed .footer-right p{
  display: inline-block;
  vertical-align: top;
  margin: 15px 42px 0 0;
  color: #8c8c8c;
}


.copyrights{
  background: #000000;
  color: $primary_green;
  text-align: center;
  font-size: 13px;
  padding: 5px;
}


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-company-name{
    font-size: 12px;
  }
}

@media (max-width: 770px) {

  .footer-distributed{
    padding: 30px;
    padding-bottom: 0;
    position: static;
    bottom: 0;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    max-width: 300px;
    margin: 0 auto;
  }
  .footer-distributed .footer-right{
    float: right;
  }

  .footer-distributed .footer-left{
    margin-bottom: 40px;
    float: left;
  }

  .footer-distributed .footer-links{
    text-align: center;
  }

}
