/* Organisms */

header {
  height: 113px;
  box-shadow: 0px 2px 4px #C5C3C6;

   h1{
    display: inline-block;
     position: relative;
     top: 40px;
    padding-left: 10px;
    font-size: 20px;
  }
}

/*-----------------------------------------------------------------------*\
						$HEADER
\*-----------------------------------------------------------------------*/

.container {
  margin: 0 20px;
  overflow: hidden;
  *zoom: 1
}
.site-content {
  padding-top: 66px;
  overflow-x: hidden;
}

.top-header{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.header {
  display: inline-flex;
  position: fixed;
  left: 0;
  right: 0;
  height: auto;
  line-height: 66px;
  color: #69696c;
  background-color: #FFF;
  font: 1.1em sans-serif;
  font-size: 12px;
  z-index: 999;
}
.header__logo {
  font-weight: bold;
  padding: 10px 0px;
  float: left;
  width: 90px;
  height: auto;
}

.nav-up {
  top: -80px;
}
.social-links {
  font-size: 25px;
  padding-left: 1%;

  ul {
    top: 36%;
    position: absolute;
  }

  li{
    display: inline-block;
    padding-left: 15px;
  }

  :hover{
    color: $primary_green;
    transition: all .4s 0s;
  }
}

i.fa.fa-twitter:hover {
  color: #1da1f2;
  transition: all .4s 0s;
}

i.fa.fa-facebook:hover {
  color: #3b5998;
  transition: all .4s 0s;
}

i.fa.fa-youtube-play:hover {
  color: #cd201f;
  transition: all .4s 0s;
}

i.fa.fa-twitch:hover {
  color: #6441a5;
  transition: all .4s 0s;
}

.logo_links {
  margin-left: 45%;
}
.wrapper{
  padding-right: 2%;

  h3.button:hover {
    color: $primary_green;
    transition: all .4s 0s;
  }
}
.menu {
  float: left;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
}
.menu a {
  padding: 0 10px
}
.menu a:hover {
  color: $primary_green;
  transition: all .4s 0s;
}
@media only screen and (max-width: 770px) {
  .site-pusher,
  .site-container {
    height: 100%
  }
  .site-container {
    //overflow: hidden
  }
  .site-pusher {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px)
  }
  .site-content {
    position: absolute;
    top: 66px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
  }
  .header {
    height: 70px;
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.5)
  }

  .header__icon {
    position: absolute;
    display: block;
    float: right;
    width: 55px;
    height: 50px;
    cursor: pointer;
    top: 0px;
    right: 0px;
    margin-top: 10px;
    margin-right: 10px;
    background: $primary_green;
  }
  .header__icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 0;
    top: 10px;
    left: 18px;
    -moz-box-shadow: 0 7px 0 2px #FFF, 0 16px 0 2px #FFF, 0 25px 0 2px #FFF;
    -webkit-box-shadow: 0 7px 0 2px #FFF, 0 16px 0 2px #FFF, 0 25px 0 2px #FFF;
    box-shadow: 0 7px 0 2px #FFF, 0 16px 0 2px #FFF, 0 25px 0 2px #FFF;

  }
  .menu {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    //overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #FFF;
    width: 250px;
    -moz-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .menu a {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid $primary_green;
  }
  .with--sidebar .site-pusher {
    -moz-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
  }
  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99999;
  }
  .navmenu {
    a{
      padding: 0 10px;
    }
  }
}

#auth{
  padding-right: 25px;
}

#auth h3:hover{
  color: $primary_green;
  transition: all .4s 0s;
}


@media only screen and (max-width: 1201px) {

  .logo_links {
    margin-left: 40%;
  }

}
/*************************************************************************************/


/*-----------------------------------------------------------------------*\
						        $HEADER
						      Effects Menu
\*-----------------------------------------------------------------------*/

.navmenu a{

  font-family:$rubik;
  font-size: 14px;
  color: $darker_grey;
  text-decoration: none;
  padding: 0px 15px 7px 15px;
  margin-right: 15px;
  margin-left: 15px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  transition: padding .3s, background .3s;
  transition: all .4s .1s;
  position: relative;
  width: 7%;
  display: inline-block;
}

.navmenu:first-child a{
  border-radius: 3px 0 0 3px;
}
.navmenu:last-child a{
  border-radius: 0 3px 3px 0;
}

.navmenu a:hover,
.navmenu a:focus{
  color: $primary_green ;
  border-bottom: 3px solid $primary_green;
  transition: all .4s 0s;
}



/*************************** MENU MOBILE ***********************************/


$color: white;
$button-radius: 50px;
$button-line-height: 2px;
$burger-width: 0.40 * $button-radius;
$burger-gutter: 10px;

@media only screen and (min-width: 768px) {
  burger, .burger ul {
    display: none;
  }
}

@media only screen and (max-width: 768px) {

  .navmenu:last-child a{
    width: 100%;
  }
  .social-links,.header__logo, #auth, header h1 {
    display: none;
  }

  .burger {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 999;

    &__button {
      display: block;
      position: relative;
      background: $color;
      width: $button-radius;
      height: $button-radius;
      border-radius: 0%;
      text-align: center;
      vertical-align:middle;
      transition: all 0.5s ease;
      border: $button-line-height solid transparent;
      //box-shadow: 0px 0px 8px -2px #333;

      &.open {
        border: $button-line-height solid #fff;
        box-shadow: none;
      }

      &__icon {
        display: inline-block;
        position: absolute;
        background: $primary_green;
        margin: 0 auto;
        width: 25px;
        height: 3px;
        top: 50%;
        left: 0;
        right:0;
        transition: all 0.5s ease;
        transform: translateY(-0.5 * $button-line-height);

        &:before, &:after{
          content: "";
          position: absolute;
          margin: 0 auto;
          background: $primary_green;
          width: 25px;
          height: 3px;
          left: 0;
          right:0;
          transition: all 0.5s ease;
        }

        &:before {
          bottom: $burger-gutter;
        }

        &:after {
          top: $burger-gutter;
        }
      }

      &.open &__icon {
        background: transparent;

        &:before, &:after {
          transform-origin: 0 50%;
          width: sqrt(pow($burger-width, 2) + pow(2*$burger-gutter, 2));
        }

        &:before {
          transform: rotateZ(atan(2*$burger-gutter/$burger-width));
        }

      }
    }

    &__menu {
      list-style-type: none;
      padding: 0 0 0 20px;

      & li {
        display: block;
        position: relative;
        margin: 15px 0;
        visibility: hidden;
        transition: all 0.5s ease;
        transform: translateX(-400px);
      }

      & a {
        display: block;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        font-family: Arial, "san-serif";
        font-weight: normal;
        transition: all 0.4s ease;
        border-left: 3px solid transparent;
        padding-left: 0;

        &:hover {
          padding-left: 30px;
          transition: all .4s 0s;
        }

        &:hover, &:active  {
          border-left: 3px solid $primary_green;
          border-left: 3px solid #5c666b;
          color: #5c666b;
        }
      }
    }

    &__button.open + &__menu {
      & li {
        transform: translateX(0);
        visibility: visible;
        background: $primary_green;
      }
    }
  }

}
