@import '../../public/scss/mixins';
/******************************
 Fonts & General Type Styling
******************************/
@import '../../public/scss/basics/config';
// Responsive
@import '../../public/scss/responsive/responsive';


@import "font-awesome";


body {
  background-image: url(../img/background.png);
  color:#1C1A1B;
}

html {
  height: 100%;
}


.success,
.error {
  position: relative;
  padding: 1em 1em 1em 4em;
  border-radius: 2px;
  color: #FFF;
  a {
    color: #FFF;
    border-bottom: 1px solid #FFF;
    &:hover {
      border-bottom: none;
    }
  }
  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 3em;
    display: inline-block;
    border-right: 1px solid transparent;
  }
  &:after {
    position: absolute;
    top: 50%;
    left: 1em;
    min-width: 1.1em;
    text-align: center;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.success {
  background: #99CC99;
  margin-bottom: 20px;
  &:before {
    border-right-color: lighten( #99CC99, 5% );
  }
  &:after {
    content: "\f00c";
  }
}


.error {
  margin-bottom: 20px;
  background: #F2777A;
  &:before {
    border-right-color: lighten( #F2777A, 5% );
  }
  &:after {
    content: "\f00d";
  }
}

#msform {
  width: 100%;
  max-width: 700px;
  text-align: center;
  margin: 70px auto;
  position: relative;
  fieldset {
    background: #fff;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    /*stacking fieldsets above each other*/
    position: relative;
    &:not(:first-of-type) {
      display: none;
    }
  }
  input, textarea {
    padding: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 15px;
  }
  .action-button {
    background: #A9DA18;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px;
    &:hover, &:focus {
      box-shadow: 0 0 0 2px white, 0 0 0 3px #A9DA18;
    }
  }
}

.centerElement {
  margin-left:45%;
  width: 100%;
}
.loader {
  display:none;
  border: 7px solid #f3f3f3;
  border-top: 7px solid #A9DA18;
  border-radius: 50%;
  width: 39px;
  height: 39px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.hideShow {
  position: absolute;
  height: 100%;
  width: 50px;
  top: 0;
  right: 0;
  background: #A9DA18;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
}

/* Eye open */

input {
  &[type='password'] + button {
    &::before {
      width: 20px;
      height: 20px;
      background: #1C1A1B;
      border-radius: 15px 0 15px 0;
      transform: rotate(45deg);
      transition: height .168s;
    }
    &::after {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #A9DA18;
    }
  }
  &[type='text'] + button {
    &::before {
      width: 15px;
      height: 15px;
      background: transparent;
      border: 3px solid #1C1A1B;
      border-radius: 15px 0 15px 0;
      transform: rotate(45deg);
    }
    &::after {
      width: 3px;
      height: 30px;
      border-radius: 0;
      transform: rotate(30deg);
      background: #1C1A1B;
      transition: height .132s;
    }
  }
}
.accout_password {
  position: relative;
  display: block;
  width: auto;
  height: 50px;
}