/* Atoms */

.text-center {
  text-align: center;
}

.pusher-right h3 {
  display: inline-block;
  padding-left: 10px;
}

/* Info messages */
.error_msg {
  color: lightcoral;
}

.success_msg {
  color: lightgreen;
}

/* Menu blocks */
.logo-block a{
  text-decoration: none;
  color: black;
}

.logo-block img{
  position: absolute;
  min-width: 115px;
  max-width: 6%;
  top: 0px;
  left: 42%;
}

.logo-block h1{
  display: inline-block;
  padding-top: 36px;
  font-family: $roboto;
  font-weight: 300;
}

.social-block {

  font-size: 18px;

  li{
    margin-left: -80px;
  }

  li:first-child{
    margin-left: 0px;
  }

  img{
    width: 17%;
  }

  img:hover{
    fill: $primary_green;
    transition: all .3s;
  }


}


/* END Menu blocks */


/*-----------------------------------------------------------------------*\
						        $FEATURES
\*-----------------------------------------------------------------------*/

.all-features{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

p.lead {
  margin: 25px;
}

.feature{
  display: inline-block;
  padding: 25px;
}


.feature-icon {
  background: url(../img/bg_circle2.png) 50% 50% no-repeat;
  border-radius: 50px;
  background-size: 98px;
  height: 98px;
  line-height: 95px;
  margin: auto;
  text-align: center;
  width: 98px;
}

.feature-icon .fa {
  background-color: #2b373a;
  border-radius: 100%;
  color: #fff;
  font-size: 32px;
  height: 75px;
  line-height: 75px;
  width: 75px;
  vertical-align: middle;
}

.feature-span{

}


/*-----------------------------------------------------------------------*\
						        $BUTTONS
\*-----------------------------------------------------------------------*/

.btn {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 15px auto 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}

#showcase .btn{
  color: $primary_grey;

}
@media (min-width: 400px) {
  .btn {
    display: inline-block;
    //margin-right: 2.5em;
  }
  .btn:nth-of-type(even) {
    margin-right: 0;
  }
}
@media (min-width: 600px) {
  .btn:nth-of-type(even) {
    margin-right: 2.5em;
  }
  .btn:nth-of-type(5) {
    margin-right: 0;
  }
}
.btn:hover {
  text-decoration: none;
}

.btn-1 {
  font-weight: 100;
}
.btn-1 svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.btn-1 rect {
  fill: none;
  stroke: $primary_green;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
}

.btn-1:hover {
  font-weight: 900;
  letter-spacing: 1px;
}
.btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}


.btn-4 {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}
.btn-4 span {
  z-index: 20;
}
.btn-4:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .2;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.btn-4:hover:after {
  left: 120%;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

/*-----------------------------------------------------------------------*\
						        $PROFIL AVATAR
\*-----------------------------------------------------------------------*/
$base-text-color: #151515;
$base-link-color: #1daaff;
$base-hover-color: darken($base-link-color, 20);

$profile-card-size: 85px;
$profile-avatar-size: 150px;


.profile {
  max-width: 65px;
  padding: 0em;
  margin: 0em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  position: relative;
  float: right;
  right: 3%;
  top: 2px;

  figure {
    margin: 0;
    img {
      max-width: $profile-avatar-size;
      max-height: $profile-avatar-size;
      border-radius: 50%;
      padding: 10px;
      box-shadow: 0px 0px 20px rgba($primary_green, 1.15);
    }
  }

  header {
    h1 {
      margin: 0;
      padding: 0;
      small {
        display: block;
        clear: both;
        font-size: 18px;
        opacity: 0.6;

      }
    }
  }

  main {
    display: none;

    dl {
      display: block;
      width: 100%;
      position: relative;
      top: 10px;
      right: 70px;

      :hover {
        border-left: 2px solid $primary_green;
        transition: all .4s 0s;
      }

      h3{
        padding-bottom: 5px;
      }
      dt,
      dd {
        float: left;
        padding: 8px 5px;
        margin: 0;
        border-bottom: 1px solid lighten($base-text-color, 80);
        a {
          padding-right: 5px;
        }
      }
      dt {
        width: 30%;
        padding-right: 10px;
        font-weight: bold;
        &:after {
          content: ":"
        }
      }
      dd {
        width: 70%;
      }
    }
  }

  .toggle {

    position: absolute;
    background: #fff;
    bottom: 0px;
    left: 49px;
    width: 30px;
    height: 30px;
    line-height: 32px;
    font-size: 35px;
    text-align: center;
    z-index: 9999;
    vertical-align: middle;
    box-shadow: 0px 0px 10px rgba($base-text-color, 0.25);
    cursor: pointer;
    border-radius: 20px;

    main {
      font-size: 16px;
    }
  }
}
.view_details {position: absolute; top: -5000px; left: -5000px;}
label {display: block; cursor: pointer;}

@media screen and (max-width: 460px) {
  .profile {
    padding: 1em;
    margin: 1em;
  }
  .profile main dl,
  .profile main dl dt,
  .profile main dl dd {
    display: block;
    width: 100%;
    float: none;
  }
  .profile main dl dt {
    border-bottom: none;
  }
  .profile main dl dd {
    margin-bottom: 10px;
  }
}


/*-----------------------------------------------------------------------*\
						        $LINE UP MENU
\*-----------------------------------------------------------------------*/

#lineup {

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  a {
    display: block;
    padding: .2rem 0;
    color: #000;
    font-size: .875rem;
    text-decoration: none;

    &:hover {
      color: $primary_green;
      text-decoration: underline;
    }
  }

  h4 {
    margin: .5rem 0 .75rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #ddd;
    color: $primary_green;
    font-size: 1.25rem;
    font-weight: normal;
  }

  h5 {
    margin: 0;
    margin-bottom: .5rem;
    font-size: .875rem;
  }

  nav::after {
    content: '';
    display: block;
    clear: both;
  }

  .temp {
    display: flex;
    width: 72%;
    border-radius: .2rem;
    float: right;
    font-size: .875rem;

    a{
      color: transparent;
    }

    &::after {
      content: '';
      display: none;
      background: rgba(0,0,0,.35);
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }

    li {
      padding: .65rem 0;
      flex: 1;
      text-align: center;
      cursor: pointer;
    }
  }

  .menu {
    display: inline-block;
    border-radius: .2rem;
    background: #fff;
    position: relative;
    z-index: 2;

    &:hover {
      box-shadow: 0 0 .35rem 0 rgba(0,0,0,.5);
      position: absolute;

      > li {
        display: block;

        &:first-child {
          border-color: transparent;
          border-bottom: none;
          border-radius: .2rem .2rem 0 0;
          background-color: #eee;
          box-shadow: none;
          position: relative;
          z-index: 1;
          color: #444;
          cursor: default;
        }

        &:first-child::after {
          content: '\f106';
        }

        &:last-child {
          border-radius: 0 0 .2rem .2rem;
        }
      }

      + .temp::after {
        display: block;
      }
    }

    > li {
      display: none;
      width: 12rem;
      margin: 0;
      border-right: 1px solid #bbb;

      &:first-child {
        display: block;
        padding: .65rem .65rem;
        border: 1px solid #bbb;
        border-radius: .20rem;
        background: #fff;
        box-shadow: 0 3px 3px -3px rgba(0,0,0,.5);
        color: $primary_green;
        font-weight: bold;
        font-size: .875rem;
        cursor: pointer;

        &::after {
          content: '\f107';
          float: right;
          font: bold 1rem fontAwesome;
        }
      }

      &:not(:first-child):hover {
        width: calc(960px - 6rem);
        border-right: none;
      }

      &:nth-child(2):hover::before {
        content: '';
        display: block;
        width: 12rem;
        height: 3rem;
        border: 1px solid transparent;
        position: absolute;
        top: 0;
        z-index: 10;
      }
    }
  }

  .fa {
    padding-left: 8px;
  }
  .fa-rotate {
    transition: transform .25s ease;
    transform: rotate(90deg);
  }
  .menu-games{
    display: none;
    background: $primary_green;
    padding-left: 8px;
    width: 125px;
    border-radius: 5px;


  }

  .menu-games-on{
    display: block;
    transition: transform .65s ease;

    li {
      border-bottom: 1px solid black;

      a:hover{
        color: $primary_grey;
      }
    }
  }

  li {
    h3 {
      width: 12rem;
      margin: 0;
      padding: .65rem .75rem;
      border: 1px solid transparent;
      border-width: 1px 0;
      background: #fff;
      position: relative;
      z-index: 10;
      font-size: .875rem;
      font-weight: normal;
      cursor: default;
    }

    &:active {
      h3 {
        border-radius: 0 0 .2rem .2rem;
        color: $primary_green;
      }

      &:hover h3 {
        border-bottom-color: transparent;
        border-radius: 0 0 0 .2rem;
      }
    }

    &:hover {
      h3 {
        width: calc(12rem + 1px);
        border-color: #bbb;
      }

      div {
        display: block;
      }
    }

    div {
      display: none;
      width: calc(960px - 6rem - 12rem);
      min-height: 300px;
      padding: 1rem 1.2rem;
      border-left: 1px solid #bbb;
      border-radius: 0 .2rem .2rem 0;
      background: #fff;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 12rem;
      z-index: 1;
      overflow-y: scroll;
    }
  }

  main {
    display: flex;
    border-radius: 10px;
    width: 100%;
    height: 15rem;
    margin-top: 2rem;
    padding: 1rem;
    background-image: url(../img/background.png) !important;
    position: relative;
    z-index: 1;
    clear: both;

    p {
      margin: auto;
      color: #555;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  @media (max-width: 60rem) {
    .temp {
      width: 67%;
    }
  }

}

