//  Resets
* {
  margin : 0;
  padding : 0;
}

*, *:after, *:before {
   box-sizing: border-box;
 }


// Fonts

@include font-face("Roboto", "../fonts/Roboto-Regular_0.ttf");
@include font-face("Rubik", "../fonts/Rubik-Regular.ttf");
$roboto : "Roboto", sans-serif;
$rubik : "Rubik", sans-serif;


// Colors
$light_green : #8CEO61;
$primary_green : #A9D822;
$darker_green : #88BO4B;

$light_grey : #eee;
$primary_grey : #46494C;
$darker_grey : #36393B;


html,
body{
  line-height: 1.6;
  font-family: $roboto, sans-serif;
  font-size: 16px;
  overflow: none;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

.green {
  background: green;
}

.red {
  background: red;
}

.blue {
  background: blue;
}

.orange {
  background: orange;
}
.grey2 {
  background: $light_grey ;
  background-image: url("https://www.transparenttextures.com/patterns/shattered.png");
}
.grey3 {
  background: $darker_grey ;

}

/* GRID SYSTEM */

/* set padding */
$pad: 10px;

/* generate grid */
$numColumns: 12; //number of columns
@for $i from 1 through $numColumns{
  .col-#{$i}{width: 100%/$numColumns*$i;}
}

/* row without padding */
.row {
  max-width: 1200px;
  margin: 0;
  margin-bottom: 30px;
  padding-left: 25px;
  &:after {
    clear: both;
    content: '';
    display: table;
  }

  [class*='col-'] {
    float: left;
    padding-right: $pad;
    padding-left: $pad;
  }
}

@media (min-width: 768px){
  #articles .row {
    width: 100%;
    margin-left: 25%;
    margin-bottom: 30px;
  }
}

/* row with padding */
.row-pad{
  padding: $pad 0 $pad $pad;
  [class*='col-']{
    &:last-of-type{
      padding-right: $pad;
    }
  }
}



@media (min-width: 768px){
  .container-fluid {
    width: 750px;
  }
}

@media (min-width: 992px){
  .container-fluid{
    width: 970px;
  }
}

@media (min-width: 1200px){
  .container-fluid {
    width: 1170px;
  }
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/******* END GRID *******/


/* General elements config */

h1, h2, h3, h4, h5, h6 {
  font-family: $roboto;
  text-transform: uppercase;
  color: #8c8c8c;
}

h1 i {
  color: $primary_grey;
}

p, a {
  font-family: $rubik;
  color: #8c8c8c;
}

img{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.col-mobile {

}

@media only screen and (max-width: 760px) {
  .col-mobile {
    width: 100%;
  }
}


#showcase{
  background: linear-gradient(100deg, rgb(247, 247, 247) 0%, rgb(181, 181, 181) 100%);
}
.first{
  //margin-top: 15px;
}

.second{
  background: url('../img/parallax2.png');
  background-size:cover;
  box-shadow: inset 0px 23px 120px -38px rgba(0,0,0,1);
  background-attachment: fixed;
  height:50vh;
}

.third{
    position: relative;
    padding: 40px 0;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}

.third::after {

  background: -moz-linear-gradient(45deg, rgba(168, 217, 30, 0.73) 0%, rgba(105, 144, 103, 0.66) 100%);
  background: -webkit-linear-gradient(45deg, rgba(168, 217, 30, 0.73) 0%, rgba(105, 144, 103, 0.66) 100%);
  background: -o-linear-gradient(45deg, rgba(168, 217, 30, 0.73) 0%, rgba(105, 144, 103, 0.66) 100%);
  background: -ms-linear-gradient(45deg, rgba(168, 217, 30, 0.73) 0%, rgba(105, 144, 103, 0.66) 100%);
  background: linear-gradient(45deg, rgba(172, 214, 55, 0.73) 0%, rgba(41, 72, 40, 0.66) 100%);

  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.third::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../img/boxes_pattern.png) repeat center center;
  opacity: .6;
}


.fourth{
  background: url('../img/game.png');
  background-size:cover;
  box-shadow: inset 0px 23px 120px -38px rgba(0,0,0,1);
  background-attachment: fixed;
  height:50vh;
}

.fifth{
  background: url('../img/star-wars.jpg');
  background-size:cover;
  box-shadow: inset 0px 23px 120px -38px rgba(0,0,0,1);
  background-attachment: fixed;
  height:70vh;
}
.div-block{
  display: block;
}
.align-top {
  padding-top: 10px;
}

.titre{
  font-family: 'Lato', sans-serif;
  font-size: 60px;
  margin: 0px;
  margin-top: 10px;
  padding: 5px;
  text-shadow: 0 3px 5px #969696;
  color: $primary_green;
}

@media only screen and (max-width: 760px) {
  .titre {
    font-size: 40px;
  }
}

#lineup, #news, #profil, #messagerie, #article_page, #stream{
  margin-top: 3%;
  min-height: 690px;
}

#profil{
  min-height: 900px;
}
#comments {
  margin-bottom: 3%;
}

#article_page{
  margin-top: 1%;
}
.pusher-right {
  width: 100%;
  text-align: right;
}

.pusher-left {
  width: 100%;
  text-align: left;
}

.float-left{
  float: left;
}
.float-right{
  float: right;
}

#section3 {
  background: url("../img/showcase.png") no-repeat 124% 75%;
  background-size: 60%;
}

.border-radius{
  border-radius: 8px;
}


.adva_section{

  margin-top: 30px;

  .adva {
    min-height: 170px;
    min-width: 370px;
    padding-top: 8px;
    padding-right: 40px;
    padding-left: 20px;
    margin-bottom: 25px;
    text-align: justify;
    border-left: 5px solid rgba(168, 217, 30, 0.73);
  }
  i {
    font-size: 35px;
    padding-right: 10px;
    color: $primary_green;

    i:hover{
      -webkit-animation: horizontal 2s ease infinite;
      animation: horizontal 2s ease infinite;
    }
  }
}


.bulb {
  color: #FFFFFF;
  font-size: 25px;
  padding-top: 5%;

  i {
    font-size: 125px;

    &:hover{
      color: $primary_green;
    }
  }

  h2 {
    color: $primary_green;
  }

  h3 {
    color: #FFF;
  }
  p.lead {
    color: #FFF;
    margin-left: auto;
    margin-right: auto;
  }

}



@media (min-width: 992px) {
  #section3 {
    padding-bottom: 250px;
  }
}

@media (max-width: 992px){
  #section3 {
    background-position: 50% 100%;
    background-size: 450px;
    padding-bottom: 250px;
  }
}


@media (min-width: 1200px) {
  #section3 {
    padding-bottom: 400px;
  }
}

.scroll-based {
  padding: 60px 0 80px;
  display: block;
  opacity: 0;
}

.scroll-based.in-view {
  opacity: 1;
}
.scroll-based.bounce-up.in-view {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
}



