/* Pages */


/***** Admin ******/
html {
  height: 100%;
}
body {
  min-height: 100%;
  background: #F7F7F7;
}

.nav-top {
  width: 100%;
  padding: 10px;
  background: #8c8c8c;
  position: fixed;
  z-index: 999;
  top: 0%;

  .menuBurger {
    display: none;
  }

  .logo {
    width: 31%;
    h1 {
      color: #FFF;
      float: right;
      a {
        color: #FFF;
      }
    }
    img {
      width: 50px;
    }
  }
}

.left-column {
  width: 200px;
  display: block;
  z-index: 998;
  float: left;
  height: auto !important;
  min-height: 100vh;
  transition: 0.4s;
  background: #5a5a5a;
  position: fixed;
  top: 60px;

  button,
  div {
    &.accordion {
      color: #FFF;
      cursor: pointer;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      padding: 0 1.5em;
      font-weight: 600;
      height: 4em;
      line-height: 4em;
      border-bottom: 1px solid #d7d5d533;
      background: #5a5a5a;


      a {
        color: #ffffff;
        text-decoration: none;
        &:hover {
          color:#5a5a5a !important;
        }
      }
      &.active,
      &:hover {
        background-color: #ddd;
        color:#5a5a5a;
        border-top: 1px solid #d7d5d533;
      }
    }
  }

  .panel {
    display: none;
    background-color: white;
  }

  li {
    padding: 10px;
    list-style: none;
    background: #FFF;
    cursor: pointer;
    border-bottom: 1px solid #d7d5d533;
    a {
      text-decoration: none;
      color: #000;
      padding-left: 20px;
      display: block;
    }

    &:hover {
      background: $primary_green;
    }
  }
}

.buttonAdd {
  width: 100px;
  margin: auto;
  text-align: center;
  background: #FFF;
  padding: 5px;
  margin-bottom: 20px;

  a {
    text-decoration: none;
  }
}

.right-column {
  padding: 10px;
  margin-left: 200px;
  min-height: 100vh;
  position: relative;
  top: 60px;

  .form-style-6 {
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 80%;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;

    form {
        width: 100%;
        strong {
          color : #000;
        }
    }

    h1 {
      background: $primary_green;
      padding: 20px 0;
      font-size: 140%;
      font-weight: 300;
      text-align: center;
      color: #fff;
      margin: -16px -16px 16px -16px;
    }

    input {
      &[type="text"], &[type="date"], &[type="file"], &[type="password"], &[type="datetime"], &[type="email"], &[type="number"], &[type="search"], &[type="time"], &[type="url"] {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        background: #fff;
        margin-bottom: 2%;
        border: 1px solid #ccc;
        padding: 1%;
        color: #555;
        font: 95% Arial, Helvetica, sans-serif;
      }
    }
    textarea, select {
      -webkit-transition: all 0.30s ease-in-out;
      -moz-transition: all 0.30s ease-in-out;
      -ms-transition: all 0.30s ease-in-out;
      -o-transition: all 0.30s ease-in-out;
      outline: none;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 100%;
      background: #fff;
      margin-bottom: 4%;
      border: 1px solid #ccc;
      padding: 1%;
      color: #555;
      font: 95% Arial, Helvetica, sans-serif;
    }
    input {
      &[type="text"]:focus, &[type="date"]:focus, &[type="password"]:focus, &[type="datetime"]:focus, &[type="email"]:focus, &[type="number"]:focus, &[type="search"]:focus, &[type="time"]:focus, &[type="url"]:focus {
        box-shadow: 0 0 5px $primary_green;
        padding: 2%;
        border: 1px solid $primary_green;
      }
    }
    textarea:focus, select:focus {
      box-shadow: 0 0 5px $primary_green;
      padding: 3%;
      border: 1px solid $primary_green;
    }
    input {
      &[type="submit"], &[type="button"] {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        padding: 1%;
        background: $primary_green;
        border-bottom: 2px solid #30C29E;
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
        color: #fff;
      }
      &[type="submit"]:hover, &[type="button"]:hover {
        background: #2EBC99;
      }
    }
  }

  h1 {
    text-align: center;
    padding: 10px;
  }
  .headingAdmin {
    border: 1px solid #000;
    border-radius: 2px;
    margin: 0 10px ;
    padding: 10px;
    background: #FFF;
  }

  .adminform {
    border-radius: 2px;
    margin: 10px ;
    padding: 10px;
    .oneCol {
      label {
        display: block;
        padding: 10px 0;

        &#submit {
          text-align: center;
        }

        input {
          width: 100%;
        }

        strong {
          width: 200px;
          display: inline-block;
          margin: 1% 0;
        }
      }
    }

    table {
      width: 100%;
      background: #ffffff;
      border-top: 4px solid #eee;
      border-spacing: 0;
      border-collapse: collapse;

      thead {
        tr {
          &:active, &:hover {
            background: #f9f9f9;
          }
        }
      }

      th {
        text-align: left;
        border-bottom: 1px solid #eee;
        padding: 3px;
        background: 0;
      }
      tr {
        &:nth-of-type(2n+1) {
          background-color: #f9f9f9;
        }
        &:active, &:hover {
          background: #eee;
        }
      }
      td {
        padding: 3px;

        a {
          text-decoration: none;
        }
      }
      text-decoration: none;
    }
  }
}



/****************************************************************************************
                                  £LINE UP
 **************************************************************************************/

#lineup{

  .team-card {

    width: 325px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
  }


  .team-card a {
    color: inherit;
    text-decoration: none;
  }

  .team-card span, span:before, span:after {
    background: none;
  }


  .team-card:hover {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
  }

  .team-cardDate {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    padding-top: 10px;
    color: #FFF;
    text-align: center;
    line-height: 13px;
    font-weight: bold;
    background-color: $primary_green;
    border-radius: 50%;
  }

  .team-cardDateDay {
    display: block;
    font-size: 14px;
  }

  .team-cardDateMonth {
    display: block;
    font-size: 10px;
    text-transform: uppercase;
  }

  .team-cardThumb {
    height: 235px;
    overflow: hidden;
    background-color: #000;
    transition: height 0.3s;
  }

  .team-cardThumb img {
    display: block;
    opacity: 1;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .team-card:hover .team-cardThumb img {
    opacity: 0.6;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  .team-card:hover .team-cardThumb {
    height: 90px;
  }

  .team-cardBody {
    position: relative;
    padding: 20px;
    height: 185px;
    transition: height 0.3s;
  }

  .team-card:hover .team-cardBody {
    height: 330px;
  }

  .team-cardCategory {
    position: absolute;
    left: 0;
    top: -25px;
    height: 25px;
    padding: 0 15px;
    color: #FFF;
    font-size: 11px;
    line-height: 25px;
    text-transform: uppercase;
    background-color: $primary_green;
  }

  .team-cardTitle {
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 22px;
    color: #000;
    font-weight: bold;
  }

  .team-card:hover .team-cardTitle {
    -webkit-animation: titleBlur 0.3s;
    animation: titleBlur 0.3s;
  }

  .team-cardSubtitle {
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 19px;
    color: $primary_green;
  }

  .team-card:hover .team-cardSubtitle {
    -webkit-animation: subtitleBlur 0.3s;
    animation: subtitleBlur 0.3s;
  }

  .team-cardDescription {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 65px;
    margin: 0;
    padding: 0;
    color: #666C74;
    font-size: 14px;
    line-height: 27px;
    opacity: 0;
    transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
    transition-delay: 0s;
    -webkit-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
  }

  .team-card:hover .team-cardDescription {
    opacity: 1;
    transition-delay: 0.1s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  .team-cardFooter {
    font-size: 13px;
    color: #A3A9AB;
  }

  .team-cardFooter .icon--comment {
    margin-left: 12px;
  }


  @-webkit-keyframes titleBlur {
    0% {
      opacity: 0.6;
      text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    }
    100% {
      opacity: 1;
      text-shadow: 0px 5px 5px transparent;
    }
  }

  @keyframes titleBlur {
    0% {
      opacity: 0.6;
      text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    }
    100% {
      opacity: 1;
      text-shadow: 0px 5px 5px transparent;
    }
  }

  @-webkit-keyframes subtitleBlur {
    0% {
      opacity: 0.6;
      text-shadow: 0px 5px 5px rgba(168, 217, 30, 0.73);
    }
    100% {
      opacity: 1;
      text-shadow: 0px 5px 5px rgba(255, 140, 0, 0);
    }
  }

  @keyframes subtitleBlur {
    0% {
      opacity: 0.6;
      text-shadow: 0px 5px 5px rgba(168, 217, 30, 0.73);
    }
    100% {
      opacity: 1;
      text-shadow: 0px 5px 5px rgba(168, 217, 30, 0.73);
    }
  }

  .pagi-next {
    width: 100%;
    display: inline-block;
  }


  #pagination-buttons{
    min-width: 800px;
    margin-left: 31%;
    margin-right: auto;

    .btn {
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      font-weight: 400;
      line-height: 45px;
      max-width: 160px;
      margin: 20px;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      vertical-align: middle;
    }
    .pagi-next {
      width: 0%;
    }
  }



  a.btn.btn-4 {
    text-align: center;
    background: $darker_grey;
    color: white;
    text-decoration: none;
    width: 120px;

    &:hover{
      color: $primary_green;
    }
  }



  @media (max-width: 992px){
    #pagination-buttons {
      margin-left: 20%;
    }
  }

  @media (max-width: 768px){
    #pagination-buttons {
      margin-left: auto;
    }
  }


}



/****************************************************************************************
                                  £NEWS
 **************************************************************************************/

.news_list {
  min-width: 420px;
  margin: 4% auto 0 auto;
  font-family: "Lato", "Helvetica", sans-serif;
  float: left;
}
.news_list .tri {
  margin-bottom: 40px; }
.news_list .tri ul {
  display: inline-grid;
  margin: 0 auto;
  border-radius: 20px;
  border: 1px solid #eee;
  box-sizing: border-box;
  padding: 0 2em; }
.news_list .tri ul li {
  float: left;
  color: #aaa;
  padding: 0 1em;
  cursor: pointer;
  font-size: 14px;
  padding: 1em;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  display: inline-block;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-top: 1px solid transparent;
  margin-top: -1px; }
.news_list .tri ul li:hover {
  color: #a9d822; }
.news_list .tri ul li.active {
  color: #a9d822;
  border-bottom: 1px solid #a9d822; }

.news_list .item {
  width: 48%;
  display: block;
  color: #000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 1em;
  position: relative;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 4%;
  /* border: 3px solid #fff; */
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out; }
.news_list .item:hover .black-overlay {
  opacity: 1; }
.news_list .item:hover .hr-title-top, .news_list .item:hover .hr-title-bot {
  width: 20%; }
.news_list .item:hover .item-title {
  top: 0;
  opacity: 1; }
.news_list .item:hover .item-description {
  left: 0;
  opacity: 1; }
.news_list .item:hover .view-more {
  opacity: 1;
  bottom: 20px; }
.news_list .item:hover .background {
  filter: scale(1.5);
  -webkit-filter: scale(1.5); }
.news_list .item .black-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 300px;
  z-index: -1;
  background: rgba(27, 163, 156, 0.65);
  opacity: 0; }
.news_list .item .hr-title-top {
  width: 0%;
  height: 1px;
  background: #fff;
  border: none;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 20px;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out; }
.news_list .item .hr-title-bot {
  width: 0%;
  height: 1px;
  background: #fff;
  border: none;
  margin: 0;
  margin-top: 20px;
  display: block;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out; }
.news_list .item .background {
  background-size: cover !important;
  background-position: center center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -2;
  height: 300px;
  filter: scale(1);
  -webkit-filter: scale(1);
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out; }
.news_list .item .item-title {
  font-family: "Lato", "Helvetica", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 900;
  top: 100px;
  position: relative;
  line-height: 1.3em;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  /*opacity: 0;  */
}
.news_list .item .item-description {
  line-height: 1.5em;
  position: relative;
  left: 100px;
  font-family: "Lato", "Helvetica", sans-serif;
  font-size: 13px;
  font-weight: 300;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  opacity: 0; }
.news_list .item .view-more {
  background: transparent;
  font-family: "Lato", "Helvetica", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 20px;
  letter-spacing: 3px;
  border: 1px solid #fff;
  color: #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 1em 0;
  cursor: pointer;
  width: 150px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  margin-left: -75px;
  text-align: center;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  opacity: 0; }
.news_list .item .view-more:hover {
  background: #fff;
  color: #000; }
.news_list .item:nth-child(2n) {
  float: right; }
.news_list .item:nth-child(2n+1) {
  float: left; }

.display-news .sortedDown {
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  filter: grayscale(0.8);
  -webkit-filter: grayscale(0.8);
  display: none;
  border: 0px solid #fff;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
}


.clear {
  clear: both; }

@media (max-width: 768px){
  .news_list .item {
    width: inherit;
  }
  .news_list .item:nth-child(2n){
    float: left;
  }
}

/****************************************************************************************
                                  £PROFIL PAGE
 **************************************************************************************/

#profil {

  .profile__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    //height: 100%;
    min-height: 600px;
    //box-shadow: 0 3px 10px -6px rgba(0, 0, 0, 0.85);
    background-color: #e6e6e6;

    a {
      color: aliceblue;
    }
  }

  .profile__information {
    flex: 1 1 100%;
    align-self: auto;
    background: #ffffff;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    min-height: 600px;
  }
  .profile__information-header {
    width: 100%;
    background-color: #e6e6e6;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    border-color: #bebebe;
    border-style: solid;
    border-width: 3px 0 0 0;
    text-align: left;
    color: #626262;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
  .profile__information-label {
    font-size: 13px;
    padding: 0 5px;
    color: #878787;
    font-weight: 600;
  }
  .profile__information-record {
    font-size: 10px;
    color: #878787;
  }
  .profile__information-images {
    background-image: url(../img/background.png) !important;
    background-position: center;
    flex: 1 1 auto;
    height: 220px;
    position: relative;
    margin-bottom: 0;
  }
  .profile__information-image {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    top: 10px;
    padding: 0;
  }
  .profile__image-circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: solid 3px #ffffff;
    box-shadow: 0px 2px 8px -3px #000000;
  }
  .profile__information-name {
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
    width: 100%;
    height: 100%;
  }
  .profile__information-nametag {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }
  .profile__information-details {
    background: #ffffff;
    flex: 1 1 auto;
  }
  .profile__information-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 40px;
    border-bottom: dotted 1px #cacaca;
    font-size: 15px;
  }
  .profile__information-detail--expanded {
    height: 200px;
    transition: all 0.3s ease;
    align-items: flex-start;
    padding: 10px 0;
  }
  .profile__information-detail-content {
    width: 140px;
    padding-left: 10px;
    display: flex;
    flex-wrap: nowrap;
  }
  .profile__information-detail-icon {
    color: $primary_green;
    margin-right: 5px;
    padding-right: 10px;
  }
  .profile__information-detail-text {
    text-align: left;
    padding-left: 20px;
  }
  .profile__information-actions {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
    padding-right: 10px;
  }
  .profile__information-action {
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
  }
  .profile__information-action:hover {
    background: #ebebeb;
    transition: all 0.3s ease;
  }
  .profile__information-validation {
    color: #c67e8d;
    font-size: 15px;
    padding: 15px 10px;
  }

  .animalcontent {
    position:absolute;
    top:100px;
  }
  /* ------------------------------- */
  .profile__status {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 250px;
    background-color: #ffffff;
  }
  .profile__status-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
  }
  .profile__status-header {
    width: 100%;
    background-color: #ededed;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 600;
    border-color: #bebebe;
    border-style: solid;
    border-width: 3px 0 1px 0;
    text-align: center;
    color: #626262;
  }
  .profile__status-dashboard {
    display: flex;
    flex: 0.5 1 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fafafa;
    border: solid #d7d7d7;
    border-width: 0px 1px 1px 1px;
  }
  .profile__status-connection-source {
    display: flex;
    flex: 0.5 1 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f5f5f5;
    border: solid #d7d7d7;
    border-width: 0px 1px 1px 1px;
  }
  .profile__status-title {
    font-size: 15px;
    font-weight: 600;
    color: #626262;
    text-align: center;
    padding: 0 5px;
  }
  .profile__status-value {
    font-size: 75px;
    color: #626262;
  }
  /* ----------- */
  .profile__content {
    flex: 1 1 auto;
    align-self: auto;
    height: auto;
    background-color: #ffffff;
  }
  .profile__content-header {
    width: 100%;
    background-color: #ededed;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 600;
    border-color: #bebebe;
    border-style: solid;
    border-width: 3px 0px 1px 0px;
    text-align: center;
    color: #626262;
  }
  .profile__content-category {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 1 auto;
    padding: 0 10px;
    background-color: #f7f7f7;
    border-bottom: solid 1px #bebebe;
    height: 50px;
    font-size: 15px;
    font-weight: 600;
    color: #626262;
  }
  .profile__category-portfolio {
    flex: 0.4 1 100%;
  }
  .profile__category-dashboard {
    flex: 0.3 1 100%;
    text-align: center;
  }
  .profile__category-connectionsource {
    flex: 0.3 1 100%;
    text-align: center;
  }
  .profile__content-items {
    height: auto;
    overflow: auto;
  }
  .profile__content-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1 1 auto;
    align-items: center;
    padding: 0 10px;
    background-color: #ffffff;
    border-bottom: dotted 1px #cacaca;
    font-size: 15px;
    color: #878787;
    min-height: 40px;
  }
  .profile__content-item:nth-last-child(1) {
    border: none;
  }
  .profile__item-portfolio {
    flex: 0.4 1 100%;
  }
  .profile__item-dashboard {
    flex: 0.3 1 100%;
    text-align: center;
  }
  .profile__item-connectionsource {
    flex: 0.3 1 100%;
    text-align: center;
  }
  /* ---------------- */
  @media only screen and (min-width: 768px) {
    .profile__information {

      align-self: auto;
      background: #ffffff;
      flex-direction: column;
      flex-wrap: wrap;
      height: auto;
      min-height: 650px;
    }
    .profile__information-images {

      height: 400px;
      position: relative;
      //margin-bottom: 70px;
    }
    .profile__information-image {
      position: absolute;
      display: flex;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
      top: 130px;
      padding-left: 20px;
    }
    .profile__information-nametag {
      position: absolute;
      bottom: 0;
      margin-bottom: 10px;
      left: 10px;
      text-align: center;
      color: $primary_green;
    }

    .profile__information-nametag span, span:before, span:after {
      height: 0px;
    }

  }

  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
  }

  h1 {
    font-size: 23px;
  }

  h2 {
    font-size: 17px;
  }

  .horizontal-list li {
    float: left;
  }

  .clear {
    clear: both;
  }

  .icon {
    font-size: 25px;
  }

  .icon span, span:before, span:after {
    height: 0px;
  }

  .titular {
    display: block;
    line-height: 60px;
    margin: 0;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  /** MAIN CONTAINER **/

  .main-container {
    font-family: "Rubik", sans-serif;
    width: auto;
    height: auto;
    //margin: 6em auto;
  }
  /*********************************************** HEADER ***********************************************/
  .header-user {
    height: 80px;
  }
  .header-menu {
    font-size: 17px;
    line-height: 80px;
  }
  .header-menu li {
    position: relative;
    -webkit-transform: translateZ(0); /** To avoid a flash when hover messages **/
  }
  .header-menu-tab {
    padding: 0 27px;
    display: block;
    line-height: 74px;
    font-size: 17px;
    -webkit-transition: background .3s;
    transition: background .3s;
  }
  .header-menu-tab:hover {
    background: rgba(150, 201, 61, 0.22);
    border-bottom: 4px solid $primary_green;
    text-decoration: none;
  }
  .header-menu-tab .icon {
    padding-right: 15px;
  }
  .header-menu-number {
    position: absolute;
    line-height: 22px;
    padding: 0 6px;
    font-weight: 700;
    background: $primary_green;
    border-radius: 100%;
    top: 15px;
    right: 2px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;

  }

  a.header-menu-number {
    color: $darker_grey;
  }
  .header-menu li:hover .header-menu-number {
    text-decoration: none;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);

  }
  .profile-menu {
    float: right;
    height: 80px;
    padding-right: 20px;
  }
  .profile-menu p {
    font-size: 17px;
    display: inline-block;
    line-height: 76px;
    margin: 0;
    padding-right: 10px;
  }
  .profile-menu a {
    padding-left: 5px;
  }
  .profile-menu a:hover {
    text-decoration: none;
  }
  .small-profile-picture {
    display: inline-block;
    vertical-align: middle;
  }
  /** CONTAINERS **/
  .containerr {
    margin-left: 70px;
    width: 660px;
  }
  .block {
    margin-bottom: 25px;
    background: $primary_grey;
    //border-radius: 5px;
  }
  /******************************************** LEFT CONTAINER *****************************************/

  .left-container {
    min-width: 280px;
  }
  .menu-box {
    height: 242px;
    border-radius: 5px;
  }
  .menu-box .titular {
    background: $primary_green;
    color: aliceblue;
  }
  .menu-box-menu .icon {
    display: inline-block;
    vertical-align: top;
    width: 28px;
    margin-left: 20px;
    margin-right: 15px;
  }
  .menu-box-number {
    width: 36px;
    line-height: 22px;
    background: $darker_grey;
    text-align: center;
    border-radius: 15px;
    position: absolute;
    top: 15px;
    right: 15px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .menu-box-menu li {
    height: 60px;
    position: relative;
  }
  .menu-box-tab {
    line-height: 60px;
    display: block;
    //border-bottom: 1px solid #1f253d;
    -webkit-transition: background .2s;
    transition: background .2s;
  }
  .menu-box-tab:hover {
    background: rgba(168, 217, 30, 0.17);
    border-bottom: 2px solid #a8d91e;
    text-decoration: none;
  }
  .menu-box-tab:hover .icon {
    color: #fff;
  }
  .menu-box-tab:hover .menu-box-number {
    background: $primary_green;
  }

}


/****************************************************************************************
                                  £MESSAGERIE
 **************************************************************************************/

#messagerie {

  h4 {
    text-align: center;
  }
  a {
    color: white;
  }

  *, *:after, *:before {
    box-sizing: border-box;
  }
  .containerr {
    min-height: 500px;
    width: auto;
    background: $light_green;
    margin: auto;
    display: flex;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
    border: 6px solid #333;
  }

  .boxes {
    flex: 1;
    background: #333;
    text-align: center;
    position: relative;
    padding-right: 6px;
    .box {
      padding: 10px 0px;
      cursor: pointer;
      position: relative;

      &.selected {
        background: #666;
      }
      .logo {
        i {
          font-size: 45px;
        }
      }

      &:hover {
        background: #666;
      }
      .count {
        position: absolute;
        left: 10px;
        top: 10px;
        width: 2em;
        height: 2em;
        z-index: 10;
        line-height: 2em;

        &:before {
          position: absolute;
          z-index: -1;
          background: red;
          content: " ";
          width: 100%;
          height: 100%;
          left: 0px;
          border-radius: 100%;
          opacity: 0.8;
        }
      }
    }
  }

  .mail {
    flex: 5;
    display: flex;
    flex-direction: column;
    .letters {
      flex: 1;
      width: 100%;
      text-align: left;
      border-collapse: collapse;
      margin: 0px;
      padding: 0px;

      th, td {
        padding: 10px;
      }
      thead {
        background: #333;
        th:last-child {
          position: relative;
          right: -1px;
          background: #333;
        }
      }
      tbody {
        tr:hover {
          background: #CCC;
          color: #000;
          cursor: pointer;
        }
      }
    }
    .display {
      border-top: 6px solid #333;
      flex: 10;
      background: #444;
      * {
        padding: 5px;
      }

      h2 {
        margin: 0px;
        padding: 10px;
        background: #333;
      }
    }
  }

}


/****************************************************************************************
                                  £ARTICLE
 **************************************************************************************/

#article_page {

  .titre {
    margin-bottom: 1%;
  }

}


#comments {

  $placeholder: #ced2db;
  $text-color: #555f77;
  $links: #0095ff;

  form {
    display: inline-block;
    margin: 0;
  }

  input, textarea {
    outline: none;
    border: none;
    display: block;
    margin: 0;
    padding: 5px;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    color: $darker_grey;

  }

  p {
    line-height: rem(21);
  }

  .comments {
    margin: rem(40) auto 0;
    max-width: rem(972);
    padding: 0 rem(20);
  }

  .comment-wrap {
    margin-bottom: 20px;
    display: table;
    width: 100%;
    min-height: 140px;
  }

  .photo {
    padding-top: 50px;
    margin-right: 25px;
    display: inline-grid;
    width: 70px;
    height: 120px;
    border-radius: 50%;

    .avatar {
      //background-color: #0094ff;
      border-radius: 50%;
      background-size: contain;
    }
  }

  .comment-block {
    padding: 15px;
    background-color: #fff;
    width: 100%;
    display: table-cell;
    vertical-align: top;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);

    textarea {
      width: 100%;
      resize: none;
    }
  }

  .comment-text {
    margin-bottom: rem(20);
  }

  .bottom-comment {
    color: #acb4c2;
    font-size: rem(14);
  }

  .comment-date {
    float: left;
  }

  .comment-actions {
    float: right;

    li {
      display: inline;
      margin: -2px;
      cursor: pointer;

      &.complain {
        padding-right: rem(12);
        border-right: 1px solid #e1e5eb;
      }

      &.reply {
        padding-left: rem(12);
        padding-right: rem(2);
      }

      &:hover {
        color: $links;
        //text-decoration: underline;
      }
    }
  }

}

/****************************************************************************************
                                  £TEAMS DETAILS
 **************************************************************************************/


.left-containerr {
  margin-top: 4%;
}

*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}

.material{
  min-width: 700px;
  margin: 0;
  margin-left: 70%;
  position: relative;
}

@media (max-width: 768px) {
  .material{
    min-width: 430px;
    margin-left: 0;

  }
}
.material a{
  color:inherit;
  text-decoration:none;
}

.material .tabs{
  margin-top:5px;
  padding:5px 0;
}
.material .tabs a{
  width:33%;
  float:left;
  font-size:14px;
  text-align:center;
}
.material .tabs a:nth-child(1){
  text-align:left;
  -webkit-mask-image:-webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(30,29,35,1)));
  -webkit-mask-image:-webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(30,29,35,1) 100%);
  -webkit-mask-image:linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(30,29,35,1) 100%);
}
.material .tabs a:nth-child(3){
  text-align:right;
  -webkit-mask-image:-webkit-gradient(linear, left top, right top, color-stop(0%,rgba(30,29,35,1)), color-stop(100%,rgba(0,0,0,0)));
  -webkit-mask-image:-webkit-linear-gradient(left,  rgba(30,29,35,1) 0%,rgba(0,0,0,0) 100%);
  -webkit-mask-image:linear-gradient(to right,  rgba(30,29,35,1) 0%,rgba(0,0,0,0) 100%);
}
.material .tabs-content{
  padding:15px;
}
.material .tabs-content .friend-list{
  background:$primary_grey;
}
.material .tabs-content .friend-list .list-li{
  padding:10px 15px;
}
.material .tabs-content .friend-list .list-li:not(:last-child){
  border-bottom:1px solid #444;
}
.material .tabs-content .friend-list .list-li.title{
  font-size:16px;
  padding:15px!important;
}

.material .tabs-content .friend-list .photo{
  width:30px;
  height:30px;
  overflow:hidden;
  border-radius:50%;
}
.material .tabs-content .friend-list .photo img{
  width:100%;
  display:block;
}
.material .tabs-content .friend-list .info{
  margin-left:10px;
}
.material .tabs-content .friend-list .info .name{
  font-size:12px;
  font-weight:400;
  color: $primary_green;
}
.material .tabs-content .friend-list .info .time{
  color:white;
  font-size:11px;
}
.material .tabs-content .friend-list .action a{
  height:30px;
  padding:5px;
  line-height:30px;
}
.material .tabs-content .friend-list .action .fa{
  font-size:12px;
}


/****************************************************************************************
                                  £PAGE INSCRIPTION
 **************************************************************************************/

#signin_page {
  margin-top: 12%;

  label{
    color: $darker_grey;
  }

  .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    max-height: 780px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 8px 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form [type="checkbox"] {

    width: 40px;
    height: 40px;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .form [type="checkbox"]:checked{

    background: $primary_green;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover, .form button:active, .form button:focus {
    background: #43A047;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #4CAF50;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container .info span .fa {
    color: #EF3B3A;
  }
  body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #a9d822, rgba(124, 165, 9, 0.73));
    background: -moz-linear-gradient(to left, #a9d822, rgba(124, 165, 9, 0.73));
    background: -o-linear-gradient(to left, #a9d822, rgba(124, 165, 9, 0.73));
    background: linear-gradient(to left, #a9d822, rgba(124, 165, 9, 0.73));
  }

  .form span, span:before, span:after {
    height: 0px;
  }

  .form input[type="submit"]:hover {
    background: rgba(168, 217, 30, 0.73);
  }


}