/* Responsive */
@media (max-width: 900px) {
  .col {
    margin-top: 30px; }

  .five .col, .five .col:first-child, .two .col, .two .col:first-child {
    width: 94%; }

  .four .col, .four .col:first-child {
    width: 44%; }

  .nav-top .logo {
    width: 50%; } }
/* Classic Responsive elements */
/* Mobile */
@media (max-width: 425px) {
  .four .col, .four .col:first-child {
    width: 94%; } }
/* Tablet */
@media (min-width: 768px) {
  .logo-block img {
    left: 35%; }

  .container {
    width: 750px; } }
/* Laptop */
@media (min-width: 1024px) {
  .logo-block img {
    left: 36%; }

  .container {
    width: 970px; }

  .nav-top .logo {
    width: 16%; }

  .page-content .nav-top .logo {
    width: 32%; } }
/* PC */
@media (min-width: 1440px) {
  .logo-block img {
    left: 40%; }

  .container {
    width: 1200px; } }
@media (max-width: 768px) {
  .first, .second, .third {
    height: auto; }

  .left-column {
    width: 100%;
    background: transparent;
    position: relative;
    display: none;
    min-height: 0; }
    .left-column.active {
      display: block; }

  .right-column {
    margin-left: 0px; }

  .nav-top .menuBurger {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 30%; }
    .nav-top .menuBurger:before, .nav-top .menuBurger:after {
      content: none; } }
/* Special Responsive elements */
@media (max-width: 400px) {
  header {
    height: 111px; }

  .four .col, .four .col:first-child {
    width: 94%; }

  .nav-top .logo {
    width: 70%; }
    .nav-top .logo h1 {
      font-size: 21px; } }
@media (min-width: 768px) {
  header {
    height: 111px; }

  .container {
    width: 750px; }

  .menuBurger {
    float: right;
    right: 0;
    position: absolute;
    top: 25%; } }
@media (max-width: 1060px) {
  .navmenu a {
    font-size: 10px; } }
@media (max-width: 1189px) {
  .navmenu a {
    width: 11%; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: auto; } }
@media (max-width: 1530px) {
  .navmenu a {
    width: 9%; } }
@media (min-width: 1530px) {
  header {
    height: 113px; }

  .logo-block img {
    left: 42%; } }
@media (min-width: 2560px) {
  .header {
    height: 100px; }

  header {
    height: 129px; }

  .logo-block h1 {
    padding-top: 50px; }

  .logo-block img {
    left: 43%; } }

/*# sourceMappingURL=responsive.css.map */
